*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;  
    transition: background-color 2s ease-out 100ms;
}

#loading{
  margin-top: 15%;
  margin-left: 48%;
  position: fixed;
  width: 50px;
  height: 50px;
  background: orange no-repeat center;
}

.loader {
    box-sizing: border-box; 
    width: 100%; 
    height: 100%;
    border: 5px solid #162534; 
    border-top-color: #4bc8eb; 
    border-bottom-color: #f13a8f; 
    border-radius: 50%; 
    animation: rotate 5s linear infinite; 
}

.loader-inner{
    border-top-color: #36f372;
    border-bottom-color: #fff;
    animation-duration: 2.5s;
}

  @keyframes rotate {
    0%{
        transform: scale(1) rotate(360deg);
    }
    50%{
        transform: scale(.8) rotate(-360deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }

}

.page{
  padding-left: 20px;
  margin-right: 15px;
  margin-top: 65px;
  display: grid;
  height: 89vh;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 0fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;

  grid-template-areas: 
  "navbar navbar navbar navbar navbar"
  "content1 content2 content2 content2 content6"
  "content1 content3 content4 content5 content6"
  "Footer Footer Footer Footer Footer";
  grid-gap: 0.5rem;
}

.content1{
  height: 100%;
  width: 100%;
  background: cyan;
  grid-area: content1;
  border-radius: 15px;
}

.content2{
  height: 100%;
  width: 100%;
  background: cyan;
  grid-area: content2;
  border-radius: 15px;
}

.content3{
  height: 100%;
  width: 100%;
  background: dodgerblue;
  grid-area: content3;
  border-radius: 15px;
  font-size: 20px;
  color: white;
}

.content4{
  height: 100%;
  width: 100%;
  background: cyan;
  grid-area: content4;
  border-radius: 15px;
}

.content5{
  height: 100%;
  width: 100%;
  background: dodgerblue;
  grid-area: content5;
  border-radius: 15px;
  font-size: 20px;
  color: white;
}

.content6{
  height: 100%;
  width: 100%;
  background: cyan;
  grid-area: content6;
  border-radius: 15px;
}


#donatebtn{
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20;
    font-family: serif;
    height: 40;
    width: 120;
    color: white;
    background: springgreen;
   }

  #receivebtn{
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20;
    font-family: serif;
    height: 40;
    width: 120;
    color: white;
    background: springgreen;
   }

.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, dodgerblue, #1E2F97);
    color: #fff;
    padding: 18px 0 30px;
    font-size: 13px;
    line-height: 14px;
    transition: background-color 2s ease-out 100ms;
    grid-area: Footer;
    } 

.Footer .copyright
{
    padding-left: 25px;
}


.navbar{
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    align-items: center;
    background: linear-gradient(to right, #1E2F97, dodgerblue);
    color: #fff;
    justify-content: space-between;
    transition: background-color 2s ease-out 100ms;
    grid-area: navbar;
}

.navbar .logo{
    font-size: 33px;
    align-items: center; 
    color: white;
    font-weight: 600;
    padding-left: 20px;
}

.navbar ul{
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 28px;
    display: flex;
    list-style: none;
}
.navbar ul li
{
    margin: 0 5px;    
}
.navbar a.img1{

    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 4px;
}
.navbar ul li a{
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    height: 100%;
    padding: 8px 10px;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.navbar a:hover, .navbar a.active
{
    background-color: white;
    color: black;
    height: 100%;
    transition: all .5s ease ;
}
#toggle{
    display: none;
}
.togglearea{
    background-color: dodgerblue;
    color: white;
    display: flex;
    justify-content: end;
    padding: 10px;
}
.togglearea label
{
    background-color: white;
    height: 35px;
    width: 35px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.togglearea label span
{
   background-color: black;
   height: 4px;
   width: 80%;
   margin: 2px 0px;
   border-radius: 10px;
}
.togglearea{
    display: none;
}


@media screen and (max-width: 600px){

    .navbar
    {
        flex-direction: column;
        display: none;
    }
    #toggle:checked + .navbar
    {
        display: flex;
    }
    .togglearea{
        display: flex;
    }
    .navbar a:hover
    {
    background-color: white;
    color: black;
    }

    .page{
      grid-template-columns: 1fr;
      grid-template-rows:  0.4fr 2.2fr 1.2fr 1.2fr 1.2fr ;
      grid-template-areas: "content1" "content2" "content3" "content4" "content5" "content6";
     }

    .content1{
      height: 100%;
      width: 100%;
      margin: 10px;
    }

    .content2{
      height: 100%;
      width: 100%;
      margin: 10px;
    }

    .content3{
      height: 100%;
      width: 100%;
      margin: 10px;
    }

    .content4{
      height: 100%;
      width: 100%;
      margin: 10px;
    }

    .content5{
      height: 100%;
      width: 100%;
      margin: 10px;
    }

    .content6{
      height: 100%;
      width: 100%;
      margin: 10px;
    }
   
}