*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;  
    transition: background-color 2s ease-out 100ms;
}

html,body{
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#loading{
  margin-top: 15%;
  margin-left: 48%;
  position: fixed;
  width: 50px;
  height: 50px;
  background: orange no-repeat center;
}

.loader {
    box-sizing: border-box; 
    width: 100%; 
    height: 100%;
    border: 5px solid #162534; 
    border-top-color: #4bc8eb; 
    border-bottom-color: #f13a8f; 
    border-radius: 50%; 
    animation: rotate 5s linear infinite; 
}

.loader-inner{
    border-top-color: #36f372;
    border-bottom-color: #fff;
    animation-duration: 2.5s;
}

  @keyframes rotate {
    0%{
        transform: scale(1) rotate(360deg);
    }
    50%{
        transform: scale(.8) rotate(-360deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }

}

body{
    background: white; 
    background-size: 400% 400%;
}

@keyframes animate-background{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.Page{
  padding-left: 20px;
  margin-right: 15px;
  margin-bottom: 0px;
  margin-top: 55px;
  display: grid;
  height: 80%;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  grid-template-areas: 
  "content1 content2 content2 content2"
  "content1 content3 content4 content5";
  grid-gap: 0.8rem;
}

.content1{
  height: 410px;
  width: 100%;
  grid-area: content1;
  border-radius: 15px;
  min-width: 200px;
  overflow: hidden;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
  box-sizing: border-box;
}

.content1 .images{
  height: 100%;
  width: 100%;
}
.images img{
  height: 100%;
  width: 100%;
}

.content2{
  height: 270px;
  margin-top: 60px;
  width: 100%;
  background: dodgerblue;
  grid-area: content2;
  border-radius: 15px;
  display: grid;
  grid-gap: 0.8rem;
  padding: 10px;
  grid-template-columns: 2fr 2fr 2fr ;
  grid-template-rows: 2fr 2fr ;
  grid-template-areas: "topdonaterhead topdonaterhead topdonaterhead"
                       " Top-1 Top-2 Top-3";
  min-width: 200px;
}

.topdonaterhead{
  height: 40px;
  width: 100%;
  background: dodgerblue;
  grid-area: topdonaterhead;
  border-radius: 15px;
}

.Top-1{
  height: 170px;
  width: 100%;
  background: #fff;
  grid-area: Top-1;
  border-radius: 25px;
  min-width: 160px;
}

.Top-2{
  height: 170px;
  width: 100%;
  background: #fff;
  grid-area: Top-2;
  border-radius: 25px;
  min-width: 160px;
}

.Top-3{
  height: 170px;
  width: 100%;
  background: #fff;
  grid-area: Top-3;
  border-radius: 25px;
  min-width: 160px;
}

.content3{
  height: 200px;
  width: 100%;
  color: white;
  background: dodgerblue;
  grid-area: content3;
  border-radius: 15px;
  font-size: 20px;
  min-width: 200px;
}

.content4{
  height: 200px;
  width: 100%;
  background-color: dodgerblue;
  grid-area: content4;
  border-radius: 15px;
  font-size: 20px;
  min-width: 200px;
  color: white;
}

.content5{
  height: 200px;
  width: 100%;
  color: white;
  background: dodgerblue;
  grid-area: content5;
  border-radius: 15px;
  font-size: 20px;
  min-width: 200px;
}
.content3:hover{

    box-shadow: 0 0 12px black;
}

.content4:hover{

    box-shadow: 0 0 12px black;
}
.content5:hover{

    box-shadow: 0 0 12px black;
}
#donatebtn{
    border-radius: 25px;
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20;
    font-family: serif;
    height: 35;
    width: 120;
    background: #6cc5eb;
    color: white;
   }

   #donatebtn:hover{
   
    box-shadow: 0 0 12px black; 
     

   }

   #cryptobtn{
    border-radius: 25px;
    border-style: none;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20;
    font-family: serif;
    height: 35;
    width: 120;
    color: white;
    background: #6cc5eb;
   }

   #cryptobtn:hover{

    box-shadow: 0 0 12px black;
}

  #receivebtn{
    border-radius: 25px;
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20;
    font-family: serif;
    height: 35;
    width: 120;
    color: white;
    background: #6cc5eb;
   }
   #receivebtn:hover{

    box-shadow: 0 0 12px black;
}

@media screen and (max-width: 600px){
  .Page{
    width: auto;
    height: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: all 0.2 linear;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    grid-template-areas: 
    "content1"
    "content2"
    "content3"
    "content4"
    "content5";
  }

  .content2{
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    grid-template-areas: 
    "topdonaterhead"
    "Top-1"
    "Top-2"
    "Top-3";
  }


}

@media screen and (min-width: 600px) and (max-width: 1300px)
{

.Page{
  padding-left: 10px;
  margin-right: 10px;
  margin-top: 12px;
  display: grid;
  height: 460px;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;

  grid-template-areas: 
  "content1 content2 content2 content2"
  "content1 content3 content4 content5";
  grid-gap: 0.5rem;
  grid-row-gap: 0rem;
}

.content1{
 height: 465px;
  width: 100%; 
  padding: 10px;
  background-color: dodgerblue;
}

.content1 .images{
  height: 100%;
  width: 100%;
}
.images img{
  height: 100%;
  width: 100%;
}

.content2{
  height: 210px;
  width: 100%;
  display: grid;
  grid-gap: 0.6rem;
  padding: 10px;


  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr ;
  grid-template-areas: "topdonaterhead topdonaterhead topdonaterhead"
                       " Top-1 Top-2 Top-3";
  min-width: 200px;
}

.topdonaterhead{
  height: 40px;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
}
  
.Top-1{
  height: 120px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 0px;
}

.Top-2{
  height: 120px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 0px;
}

.Top-3{
  height: 120px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 0px;
}

.content3{
  height: 202px;
  width: 100%;
}

.content4{
  height: 202px;
  width: 100%;
}

.content5{
  height: 202px;
  width: 100%;
}

}