*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    transition: background-color 2s ease-out 100ms;
}

body{
    background: linear-gradient( to right,#fcb045,#3ab45f,#6cc5eb); 
    background-size: 400% 400%;
    animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

#loading{
  margin-top: 15%;
  margin-left: 48%;
  position: fixed;
  width: 100px;
  height: 100px;
  background: orange no-repeat center;
  border-radius: 50%;
  padding: 10px;
}

.loader {
    box-sizing: border-box; 
    width: 100%; 
    height: 100%;
    border: 5px solid #162534; 
    border-top-color: #4bc8eb; 
    border-bottom-color: #f13a8f; 
    border-radius: 50%; 
    animation: rotate 5s linear infinite; 
}

.loader-inner{
    border-top-color: #36f372;
    border-bottom-color: #fff;
    animation-duration: 2.5s;
}

  @keyframes rotate {
    0%{
        transform: scale(1) rotate(360deg);
    }
    50%{
        transform: scale(.8) rotate(-360deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }

}

.parents{
    width: auto;
    height: auto;
    margin: 85px; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: all 0.2 linear;
}

.child{
    height: 390;
    width: 450;
    margin: 20px; 
    border-radius: 30px;
}

.child:hover{
    box-shadow: 0 0 12px black;
  }

.child:first-child{
    color: #E30B5D;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
   	background-color: #fff;
}

.child:last-child{
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.container{
	margin: 0px 30%;
	height: 250px;
}

.drop-down{
	border: 3px solid springgreen;
	width: 200px;
	border-radius: 10px;
	display: none;
	margin: 10px 0px;
}

.container button{
	margin-top: 25px;
	position: relative;
    border-style: none;
	padding: 10px 30px;
	width: 200px;
	color: #fff;
	cursor: pointer;
	background: springgreen;
	border-radius: 20px;
	font-size: 1rem;
	font-weight: bold;
}

.container button::before{
	content: "  ";
	position: absolute;
	width: 10px;
	height: 10px;
	border-left: 2px solid;
	border-bottom: 2px solid;
	transform: rotate(-45deg);
	right: 50px;
	top: 10px;
	transition: 0.5s;
}

.container ul{
	padding: 0;
	margin: 0;
	background: #fff;
	border-radius: 5px; 
	justify-content: center;
	align-items: center;
}

.container .drop-down>ul li{
	list-style: none;
	padding: 10px 20px;
	transition: 0.2s ease;
	cursor: pointer;
}

.container .drop-down>ul li:hover{
	opacity: 0.7;
	border-bottom: 4px solid black;
}

.Ratings{
	background: #ADD8E6;
	color: black;
	height: 120px;
	margin: 0px 10px;
	border-radius: 50px;
}

.Ratings .star-icon{
	font-size: 30px;
	text-align: center;
	padding: 20px 0px;
}

.Ratings input{
	display: none;
}

.Ratings input + label{
	font-size: 30px;
	text-shadow: 1px 1px 0 #ffe400;
	cursor: pointer;
}

.Ratings input:checked ∼ .Ratings{
	color: gold;
}

.Ratings label:active{
	transform: scale(0.8);
	transition: 0.3s ease; 
}

#submit:hover{
    background:  linear-gradient(to right,#F4D03F,#00BFFF);
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.Ratings button{
    background:  linear-gradient(to right,#00BFFF,#E30B5D);
    width: 75px;
    outline: none;
    color: #fff;
    height: 30px;
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

.area{
	margin: 0px 10%;
	height: 250px;
}

.area button{
	margin-top: 25px;
	position: relative;
	padding: 10px 30px;
	width: 200px;
	color: #fff;
	cursor: pointer;
	background: springgreen;
	border-radius: 20px;
	font-size: 1rem;
	font-weight: bold;
}

.area h3{
	margin: 0;
	font-family: "Montserrat" , sans-serif;
	background: url("images/flower.jpg");
	background-size: auto 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 8s linear infinite;
	font-weight: 1600;
}

.profile{
	margin-top: 10px;
	height: 280px;
	width: 350px;
	border-radius: 50px;
	background-color: #ADD8E6;
}

@keyframes shine{
	from{
		background-position: center 0;
	}
	to{
		background-position: center 200%;
	}
}

@media screen and (max-width: 480px){
    .navbar
    {
        flex-direction: column;
        display: none;
    }
    #toggle:checked + .navbar
    {
        display: flex;
    }
    .togglearea{
        display: flex;
    }
    .navbar a:hover
    {
    background-color: white;
    color: black;
    }
    .parent{
        display: inline-block; 
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        background-color: red;
    }
    .child:first-child{
        margin-top: 0px;
        height: 570;
        width: 460px;
        border-radius: 30px;
    }
    .child:last-child{
        margin-top: 25px;
        padding: 45px;
        height: 450;
        width: 460px;
        border-radius: 30px;
    }
}

.child:hover{
    box-shadow: 0 0 12px black;
}

#submit:hover{
    background:  linear-gradient(to right,#F4D03F,#00BFFF);
    cursor: pointer;
    transition: all .5s ease-in-out;
}

@media screen and (min-width: 1300px) and (min-height: 720px){
            .parents{
                width: auto;
                height: auto;
                margin: 100px; 
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                transition: all 0.2 linear;
            }

            .child{
                height: 500px; 
                width: 600px;
                margin: 20px; 
                border-radius: 30px;
                flex: 50;
            }

            .child:hover{
                box-shadow: 0 0 12px black;
            }

            .child:first-child{
                color: #E30B5D;
                padding-left: 10px;
                padding-right: 10px;
                justify-content: center;
               background-color: white;
            }

            .child:last-child{
                justify-content: center;
                background-color: white;
            }

            .child:hover{
                 box-shadow: 0 0 12px black;
            }

            #submit:hover{
			    background:  linear-gradient(to right,#F4D03F,#00BFFF);
			    cursor: pointer;
			    transition: all .5s ease-in-out;
			}
}
